:root {
    font-size: 22px; 
}

body{
    color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
} 

.cabecera {
    font-family: monospace;
    font-size: 3rem;
    color: wheat !important;
    border: 2px solid red;
    font-weight: bolder;
    background: linear-gradient(#e66465, #9198e5);
    
}

p {
    color: gray;
}

.figure {
    inline-size: 100px;
    aspect-ratio: 1/1;
    margin: 0;
    display: inline-block;
}

.figure img {
    inline-size: 100%;
    block-size: 100%;
    vertical-align: middle;
}

footer {
    padding: 10px;
    background-color: #e66465;
}